In [17]:
import numpy as np
import pandas as pd

In [18]:
data = pd.read_csv("movies.csv")
data.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [19]:
links=pd.read_csv('links.csv')
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [20]:
ratings=pd.read_csv('ratings.csv')
ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [29]:
tags=pd.read_csv('tags.csv')
tags.head(10)

   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325

In [22]:
data.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [23]:
links.isnull().sum()

movieId    0
imdbId     0
tmdbId     8
dtype: int64

In [24]:
tags.isnull().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [25]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [27]:
ratings = ratings.drop(['userId'], axis = 1)
ratings

        movieId  rating   timestamp
0             1     4.0   964982703
1             3     4.0   964981247
2             6     4.0   964982224
3            47     5.0   964983815
4            50     5.0   964982931
...         ...     ...         ...
100831   166534     4.0  1493848402
100832   168248     5.0  1493850091
100833   168250     5.0  1494273047
100834   168252     5.0  1493846352
100835   170875     3.0  1493846415

[100836 rows x 3 columns]

In [30]:
tags = tags.drop(['userId'], axis = 1)
tags

      movieId               tag   timestamp
0       60756             funny  1445714994
1       60756   Highly quotable  1445714996
2       60756      will ferrell  1445714992
3       89774      Boxing story  1445715207
4       89774               MMA  1445715200
...       ...               ...         ...
3678     7382         for katie  1171234019
3679     7936           austere  1173392334
3680     3265            gun fu  1493843984
3681     3265  heroic bloodshed  1493843978
3682   168248  Heroic Bloodshed  1493844270

[3683 rows x 3 columns]

In [35]:
movies = data.merge(links, on = "movieId")
movies

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0
9739,193585,Flint (2017),Drama,6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0

In [36]:
movies = movies.merge(ratings, on = "movieId")
movies

,movieId,title,genres,imdbId,tmdbId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.5,1305696483
...,...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0,3.5,1537109545
100833,193585,Flint (2017),Drama,6397426,479308.0,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0,4.0,1537157606

In [37]:
movies = movies.merge(tags, on = "movieId")
movies

,movieId,title,genres,imdbId,tmdbId,rating,timestamp_x,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,964982703,pixar,1139045764
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,964982703,pixar,1137206825
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,964982703,fun,1525286013
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,847434962,pixar,1139045764
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,847434962,pixar,1137206825
...,...,...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,3778644,348350.0,5.0,1529899556,star wars,1528934552
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,1537098554,anime,1537098582
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,1537098554,comedy,1537098587
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,1537098554,gintama,1537098603
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,1537098554,remaster,1537098592

In [38]:
movies = movies.merge(data, on = "movieId")
movies

,movieId,title_x,genres_x,imdbId,tmdbId,rating,timestamp_x,tag,timestamp_y,title_y,genres_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,964982703,pixar,1139045764,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,964982703,pixar,1137206825,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,964982703,fun,1525286013,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,847434962,pixar,1139045764,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,847434962,pixar,1137206825,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,3778644,348350.0,5.0,1529899556,star wars,1528934552,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,1537098554,anime,1537098582,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,1537098554,comedy,1537098587,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,1537098554,gintama,1537098603,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,1537098554,remaster,1537098592,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi

In [45]:
movies = movies.drop(['title_x','genres_y','timestamp_x','timestamp_y'], axis =1)
movies

,movieId,genres_x,imdbId,tmdbId,rating,tag,title_y
0,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
1,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
2,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,fun,Toy Story (1995)
3,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
4,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
...,...,...,...,...,...,...,...
233208,187595,Action|Adventure|Children|Sci-Fi,3778644,348350.0,5.0,star wars,Solo: A Star Wars Story (2018)
233209,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,anime,Gintama: The Movie (2010)
233210,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,comedy,Gintama: The Movie (2010)
233211,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,gintama,Gintama: The Movie (2010)
233212,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,remaster,Gintama: The Movie (2010)

In [47]:
movies = movies.rename(columns={'movieId':'id', 'genre_x':'genre', 'title_y':'title'})
movies

,id,genres_x,imdbId,tmdbId,rating,tag,title
0,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
1,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
2,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,fun,Toy Story (1995)
3,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
4,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
...,...,...,...,...,...,...,...
233208,187595,Action|Adventure|Children|Sci-Fi,3778644,348350.0,5.0,star wars,Solo: A Star Wars Story (2018)
233209,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,anime,Gintama: The Movie (2010)
233210,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,comedy,Gintama: The Movie (2010)
233211,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,gintama,Gintama: The Movie (2010)
233212,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,remaster,Gintama: The Movie (2010)

In [48]:
movies = movies.rename(columns={'movieId':'id', 'genres_x':'genre', 'title_y':'title'})
movies

,id,genre,imdbId,tmdbId,rating,tag,title
0,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
1,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
2,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,fun,Toy Story (1995)
3,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
4,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,4.0,pixar,Toy Story (1995)
...,...,...,...,...,...,...,...
233208,187595,Action|Adventure|Children|Sci-Fi,3778644,348350.0,5.0,star wars,Solo: A Star Wars Story (2018)
233209,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,anime,Gintama: The Movie (2010)
233210,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,comedy,Gintama: The Movie (2010)
233211,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,gintama,Gintama: The Movie (2010)
233212,193565,Action|Animation|Comedy|Sci-Fi,1636780,71172.0,3.5,remaster,Gintama: The Movie (2010)

In [49]:
movies_df = movies[['id','genre','rating','tag','title']]
movies_df

,id,genre,rating,tag,title
0,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
1,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
2,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,fun,Toy Story (1995)
3,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
4,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
...,...,...,...,...,...
233208,187595,Action|Adventure|Children|Sci-Fi,5.0,star wars,Solo: A Star Wars Story (2018)
233209,193565,Action|Animation|Comedy|Sci-Fi,3.5,anime,Gintama: The Movie (2010)
233210,193565,Action|Animation|Comedy|Sci-Fi,3.5,comedy,Gintama: The Movie (2010)
233211,193565,Action|Animation|Comedy|Sci-Fi,3.5,gintama,Gintama: The Movie (2010)
233212,193565,Action|Animation|Comedy|Sci-Fi,3.5,remaster,Gintama: The Movie (2010)

In [52]:
movies_df.duplicated()

0         False
1          True
2         False
3          True
4          True
          ...
233208    False
233209    False
233210    False
233211    False
233212    False
Length: 233213, dtype: bool

In [53]:
movies_df.duplicated().sum()

210954

In [55]:
movies_df.head(20)

,id,genre,rating,tag,title
0,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
1,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
2,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,fun,Toy Story (1995)
3,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
4,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
5,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,fun,Toy Story (1995)
6,1,Adventure|Animation|Children|Comedy|Fantasy,4.5,pixar,Toy Story (1995)
7,1,Adventure|Animation|Children|Comedy|Fantasy,4.5,pixar,Toy Story (1995)
8,1,Adventure|Animation|Children|Comedy|Fantasy,4.5,fun,Toy Story (1995)
9,1,Adventure|Animation|Children|Comedy|Fantasy,2.5,pixar,Toy Story (1995)
10,1,Adventure|Animation|Children|Comedy|Fantasy,2.5,pixar,Toy Story (1995)
11,1,Adventure|Animation|Children|Comedy|Fantasy,2.5,fun,Toy Story (1995)
12,1,Adventure|Animation|Children|Comedy|Fantasy,4.5,pixar,Toy Story (1995)
13,1,Adventure|Animation|Children|Comedy|Fantasy,4.5,pixar,Toy Story (1995)
14,1,Adventure|Animation|Children|Comedy|Fantasy,4.5,fun,Toy Story (1995)
15,1,Adventure|Animation|Children|Comedy|Fantasy,3.5,pixar,Toy Story (1995)
16,1,Adventure|Animation|Children|Comedy|Fantasy,3.5,pixar,Toy Story (1995)
17,1,Adventure|Animation|Children|Comedy|Fantasy,3.5,fun,Toy Story (1995)
18,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
19,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)

In [56]:
movies_df = movies_df.drop_duplicates()
movies_df

,id,genre,rating,tag,title
0,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar,Toy Story (1995)
2,1,Adventure|Animation|Children|Comedy|Fantasy,4.0,fun,Toy Story (1995)
6,1,Adventure|Animation|Children|Comedy|Fantasy,4.5,pixar,Toy Story (1995)
8,1,Adventure|Animation|Children|Comedy|Fantasy,4.5,fun,Toy Story (1995)
9,1,Adventure|Animation|Children|Comedy|Fantasy,2.5,pixar,Toy Story (1995)
...,...,...,...,...,...
233208,187595,Action|Adventure|Children|Sci-Fi,5.0,star wars,Solo: A Star Wars Story (2018)
233209,193565,Action|Animation|Comedy|Sci-Fi,3.5,anime,Gintama: The Movie (2010)
233210,193565,Action|Animation|Comedy|Sci-Fi,3.5,comedy,Gintama: The Movie (2010)
233211,193565,Action|Animation|Comedy|Sci-Fi,3.5,gintama,Gintama: The Movie (2010)
233212,193565,Action|Animation|Comedy|Sci-Fi,3.5,remaster,Gintama: The Movie (2010)

In [57]:
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [59]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9737    False
9738    False
9739    False
9740    False
9741    False
Length: 9742, dtype: bool

In [61]:
data.shape

(9742, 3)

In [62]:
links.shape

(9742, 3)

In [63]:
links.duplicated().sum()

0

In [64]:
movies_df.duplicated().sum()

0

In [66]:
movies_df.duplicated()

0         False
2         False
6         False
8         False
9         False
          ...
233208    False
233209    False
233210    False
233211    False
233212    False
Length: 22259, dtype: bool