In [17]:
import numpy as np
import pandas as pd

In [18]:
data = pd.read_csv("movies.csv")
data.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [19]:
links=pd.read_csv('links.csv')
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [20]:
ratings=pd.read_csv('ratings.csv')
ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [29]:
tags=pd.read_csv('tags.csv')
tags.head(10)

   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325

In [22]:
data.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [23]:
links.isnull().sum()

movieId    0
imdbId     0
tmdbId     8
dtype: int64

In [24]:
tags.isnull().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [25]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [27]:
ratings = ratings.drop(['userId'], axis = 1)
ratings

        movieId  rating   timestamp
0             1     4.0   964982703
1             3     4.0   964981247
2             6     4.0   964982224
3            47     5.0   964983815
4            50     5.0   964982931
...         ...     ...         ...
100831   166534     4.0  1493848402
100832   168248     5.0  1493850091
100833   168250     5.0  1494273047
100834   168252     5.0  1493846352
100835   170875     3.0  1493846415

[100836 rows x 3 columns]

In [30]:
tags = tags.drop(['userId'], axis = 1)
tags

      movieId               tag   timestamp
0       60756             funny  1445714994
1       60756   Highly quotable  1445714996
2       60756      will ferrell  1445714992
3       89774      Boxing story  1445715207
4       89774               MMA  1445715200
...       ...               ...         ...
3678     7382         for katie  1171234019
3679     7936           austere  1173392334
3680     3265            gun fu  1493843984
3681     3265  heroic bloodshed  1493843978
3682   168248  Heroic Bloodshed  1493844270

[3683 rows x 3 columns]

In [34]:
movies = data.merge(links, on = "movieId")
movies

TypeError: merge() got multiple values for argument 'on'